.main-container {
  text-align: center;
}

/* Greeting heading */
#home-greeting {
  margin-top: 2%;
  font-size: 36px;
  color: #227c21;
  margin-bottom: 20px;
}

/* App name */
.app-name {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 5%;
}

/* Description */
.description {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

