
.lesson-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .container-lesson {
    width: 300px;
    background-color: #EBE6E8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .div-card-name {
    padding: 20px;
  }
  
  .card-link {
    text-decoration: none;
    color: #000;
  }
  
  .item-name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
 /* Flashcard */
.flashcard-container {
    display: flex;
    flex-direction: column; /* Change the flex direction to column */
    justify-content: center;
    align-items: center;
  }
  
  .flashcard {
    width: 50%;
    height: 200px;
    perspective: 1000px;
  }
  
  .cardflash {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    justify-content: center;
  text-align: center;
  }
  
  .front {
    background-color: #EBE6E8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .back {
    background-color: #EBE6E8;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .flip {
    transform: rotateY(180deg);
  }
  
  .button-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  
  .yes-button,
  .no-button {
    margin: 0 8px;
    padding: 24px 48px;
    background-color: #EBE6E8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .no-button:hover {
    background-color: rgb(255, 211, 211);
  }
  
  .yes-button:hover {
    background-color: rgb(218, 255, 218);
  }
  
  /* TermList */
  .term-list-container {
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .term-list {
    list-style: none;
    padding: 0;
  }
  
  .term-list-item {
    font-size: 18px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }
  
  .term-list-question {
    flex: 1;
  }
  
  .term-list-separator {
    margin: 0 8px;
    color: #888;
  }
  
  .term-list-answer {
    flex: 1;
  }
  
  /* Empty flashcards message */
  .empty-flashcards {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    color: #888;
  }
  
  .quiz-link {
    color: #007bff;
    text-decoration: none;
    margin-left: 8px;
  }

  .subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    color: #db3a79;
    font-style: italic;
    font-family: "Courier New", monospace; /* Replace with your desired font-family */
  }
  
  