
.lesson-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .container-lesson {
    width: 300px;
    background-color: #EBE6E8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .div-card-name {
    padding: 20px;
  }
  
  .card-link {
    text-decoration: none;
    color: #000;
  }
  
  .item-name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Flashcard */
  .flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .flashcard {
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #EBE6E8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .back {
    background-color: #EBE6E8;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .flip {
    transform: rotateY(180deg);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .yes-button,
  .no-button {
    margin: 0 8px;
    padding: 8px 16px;
    background-color: #EBE6E8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .yes-button:hover,
  .no-button:hover {
    background-color: #EBE6E8;
  }
  