.test-container, .quiz-container{
  background-color: #fbf9f1;
}

.title {
  font-size: 3.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 20px;
  background-image: linear-gradient(135deg, #ff7f00, #ffcc66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.test-level,
.quiz-level {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1%;
  margin-bottom: 5%;
  color: gray;
  text-align: center;
}

.test-length,
.quiz-length {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -4%;
  margin-bottom: 2%;
  color: gray;
  text-align: center;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -8%;
}

.flashcard {
  position: relative;
  width: 53%;
  height: 50%;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.flashcard-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flashcard-front input[type="text"] {
  width: 30%;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.flashcard-front button {
  padding: 8px 16px;
  background-color: #98d6f5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.flashcard-front button:hover {
  background-color: #75c2ed;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  background-color: #75c2ed;
  color: white;
  margin-right: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:last-child {
  margin-right: 0;
}

.navigation-buttons button:hover {
  background-color: #5497c4;
}

.navigation-buttons button:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}

.alert-message {
  color: red;
}

.congrats-message {
  color: green;
}

.score-message {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -2%;
  margin-bottom: 1%;
}

.items-name {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 3%;
}

.add1-btn {
  width: 10%;
  padding:5px;
  border: 1px gray solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-image: linear-gradient(135deg, #85c498, #34a65f);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 23.5%;
}

.add1-btn:hover {
  background-image: linear-gradient(135deg, #1e9628, #0e742e);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: inline-block;
}

.edit1-btn,
.del1-btn {
  margin-top: 5%;
  padding: 4px;
  border: 1px gray solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Edit button styles */
.edit1-btn {
  width: 100px;
  background-color: #f9b933;
  background-image: linear-gradient(135deg, #f9b933, #f99d0c);
  margin-right: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit1-btn:hover {
  background-image: linear-gradient(135deg, #b28b0b, #ebc52e);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.del1-btn {
  width: 100px;
  background-color: #db3a79;
  background-image: linear-gradient(135deg, #db3a79, #c72c66);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.del1-btn:hover {
  background-image: linear-gradient(135deg, #a7173d, #940840);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
